html
{
    padding:0;
    margin:0;
}

body
{
    cursor: url("kursor.png"), auto;
    font-family: 'Comic Neue',monospace;
    text-shadow:   10px 0px magenta, 0px 10px #ff0000,
               20px 10px magenta, 10px 20px #ff0000,
               30px 20px magenta, 20px 30px #ff0000,
               40px 30px magenta, 30px 40px #ff0000,
               50px 40px magenta, 40px 50px #ff0000,
               60px 50px magenta, 50px 60px #ff0000,
               70px 60px magenta, 60px 70px #ff0000,
               80px 70px magenta, 70px 80px #ff0000,
               80px 80px magenta;
}
.container
{
    height:720px;
    width:1280px;
    margin-left:auto;
    margin-right:auto;
    
}
.navigation
{
    padding-top:0;
    width:1280px;
    margin-top:0;
    background-color:white;
    height:50px;
    position:-webkit-sticky;
    position:sticky;
    top: 0;
    z-index:10;
    
}
.button
{
    margin-bottom:10px;
    margin-left:4px;
    margin-right:4px;
    margin-top:0;
    padding-top:0;
    top:0;
    width:620px;
    height:50px;
    transition: 0.3s;
    float:left;
    text-align: center;
    border-bottom:solid;
    border-color: gainsboro;
    border-width:1px;
    border-radius:1px;
    font-size:20px;
    background-color: white;
    position:-webkit-sticky;
    position:sticky;
    cursor:none; 

    
}
a:link
{
    text-decoration: none;
    color:black;
}
a:visited
{
    text-decoration: none;
    color:black;
   
}

a:hover
{
    background-color:gainsboro;
    border-radius:10px;
}
a:active
{
    text-decoration: none;
    color:black;
}

.link
{
    text-decoration: none;
    color:black;
}
.text
{
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: gainsboro;
    overflow: hidden;
    width: 200%;
    height: 0;
    transition: 0.6s ease;
    border-radius: 5px;
}
.me{
    display: block;
    width: 200%;
    height: auto;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:5px;
    margin-bottom: 25px;
}
#meslider:hover .overlay 
{
    bottom: 0;
    height: 100%;
}
#processorslider:hover .overlay 
{
    bottom: 0;
    height: 100%;
}
#meslider,#processorslider
{
position: relative;
  width: 50%;
}
.right
{
    
    width:250px;
    height:1280px;
    float:left;
    margin-bottom:25px;
}
h3
{
    text-align: center;
}
.left
{
   height: 1280px;
   margin-left:10px;
   width:990px;
   float:left;
}

.footer
{
    text-align: center;
    clear:both;
}
