body
{

    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
    padding:0;
    background-image: linear-gradient(#343434,#111);
}
#container
{
    
    width: 100vw;
    height: 100vh;
}
#menu
{
    bottom: 0;
    top:0;
    position:fixed;
    box-shadow: 1px 5px 5px black;
    background-color: #2b373f;
    width: 15vw;
    height: 100vh;
    padding: 1vw;
    border-right:solid 1px;
}
#logo
{
    transform: rotate3d(0, 1, 0, 91deg);
 top:1vw;
 position:-webkit-sticky;
 position:sticky;
 position: sticky;
 position: -webkit-sticky;
 display:block;
 width: 15vw;
 height: 25vh;
 animation-name: rotate;
 animation-duration: 2s;
 animation-iteration-count: infinite;
}
@keyframes rotate
{
    0%{transform: rotate3d(0, 1, 0, 0deg);}
    100%{transform: rotate3d(0, 1, 0, 360deg);}
}
.menu-button
{   

    transition: 0.2s;
    margin-top:1.5vh;
    top:30vh;
    position:-webkit-sticky;
    font-size:2vw;
    text-align: center;
    width:15vw;
    position:sticky;
    float:left;
}
.menu-button:link
{
    height: 5vh;
    border-bottom: solid 1px;
    text-decoration: none;
    color:#d4c8c0;
}
.menu-button:visited
{
    text-decoration: none;
    color:#d4c8c0;
}
a:visited
{
    text-decoration: none;
    color:black;
}
.menu-button:hover
{
height: 6vh;
border-bottom:solid 3px;
color:gainsboro;
border-color: #d4c8c0;
}
.menu-button:active
{
    text-decoration: none;
    color:#d4c8c0;
}
#menu-footer
{
    width: 15vw;
    position:fixed;
    bottom:0;
}
.menu-footer-link
{
    font-size:2vw;
    text-align: center;
    width:5vw;
    float:left
}
#yt:hover
{
    transition: .5s;
color:#fc0300;
}
#gh:hover
{
transition: .5s;
color: wheat;
}
#fb:hover
{
    transition: .49s;
    color:#3b5598;
}
#content
{
    color:#d4c8c0;
    font-size: 1.2vw;
    background-color: #2b373f;
    box-shadow: 2px 2px 5px black;
    height:100vh;
    text-align: center;
    float: right;
    margin:1vw 4vw;
    padding:1vw;
    width:73vw;
}
