html
{
    padding:0;
    margin:0;
}
.content
{
    width: 100%;
    height:100%;
}
body
{
    position:relative;
    font-family: 'Comic Neue',monospace;
    background-color:white;
    z-index:3;
}
.container
{

    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index:3;
    height:870px;
    width:1280px;
    margin-left:auto;
    margin-right:auto;
}
.navigation
{
    padding-top:0;
    width:1280px;
    margin-top:0;
    background-color:white;
    height:50px;
    position:-webkit-sticky;
    position:sticky;
    top: 0;
    z-index:10;
    
}
.button
{
    margin-bottom:10px;
    margin-left:4px;
    margin-right:4px;
    margin-top:0;
    padding-top:0;
    top:0;
    width:310px;
    height:50px;
    transition: 0.3s;
    float:left;
    text-align: center;
    border-bottom:solid;
    border-color: gainsboro;
    border-width:1px;
    border-radius:1px;
    font-size:20px;
    background-color: white;
    position:-webkit-sticky;
    position:sticky;
    cursor:none; 
    animation-name: XD2;
    animation-iteration-count: infinite;
    animation-duration: 0.0001s;

    
}
a:link
{

    text-decoration: none;
    color:black;
}
a:visited
{
    text-decoration: none;
    color:black;
   
}

a:hover
{
    background-color:gainsboro;
    border-radius:10px;
}
a:active
{
    text-decoration: none;
    color:black;
}

.link
{
    text-decoration: none;
    color:black;
}
.text
{
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: gainsboro;
    overflow: hidden;
    width: 200%;
    height: 0;
    transition: 0.6s ease;
    border-radius: 5px;
}
.me{
    display: block;
    width: 200%;
    height: auto;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:5px;
    margin-bottom: 25px;
}
#meslider:hover .overlay 
{
    bottom: 0;
    height: 100%;
}
#processorslider:hover .overlay 
{
    bottom: 0;
    height: 100%;
}
#meslider,#processorslider
{
position: relative;
  width: 50%;
}
.right
{
    z-index:3;
    width:250px;
    height:1280px;
    float:left;
    margin-bottom:25px;
}
h3
{
    text-align: center;
}
.left
{
   height: 1280px;
   margin-left:10px;
   width:990px;
   float:left;
}

.footer
{
    text-align: center;
    clear:both;
}
#timer
{
    text-align: center;
    border: outset 10px;
    font-size:55px;
    margin-top:100px;
    margin-left:100px;
    margin-right:100px;
}
#timer:hover
{
    background-color:gainsboro;
    border:inset 10px;

}
.carousel
{
    width: 1280px;
    height:300px;
    position: relative;
    z-index:-10;
    margin-bottom: 70px;
    border-bottom: groove 0.5px;
}
#frame1,#frame2,#frame3
{
    float: left;
    text-align: center;
    width:25%;
    height:120px;
    margin-top:30px;
    margin-left:6%;
    margin-bottom:80px;
    position: relative;
    z-index:-10;
  
}
p
{
    padding: 10px;
    margin-right:10px;
    border-bottom:groove;
}
.pesel
{
    border-radius: 10px;
    padding: 10px;
    height:100px;
    width: 500px;
    border: groove;
    margin: 100px 420px;
}
#answer
{
    text-align: center;
    margin-left:100px;
    text-align: center;
    float:left;
}
#dzien, #miesiac, #rok, #plec
{
    
    font-size: 30px;
    margin-top:30px;
    float:left;
}