### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule wegielstudio index.html
RewriteRule onas onas.html
RewriteRule kontaktwegieltudio kontakt.html
